h1{
<<<<<<< HEAD
    color: #00d0ff;
=======
    color: #d01a1a;
>>>>>>> 9a338287b592b41b9c9277b5718ce4d4f9e1c3b7
}
.a {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}